@model List<PlayerStats>

<style>
    body {
        background-image: url('/Images/LooneyCircle.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    th{
        color: orange;
    }
</style>

<table class="table table-hover table-primary" style="table-layout:fixed">
    <tr >
        <th><a href="../Home/PopularPlayers?sort=Name" style="color: orange" class="border-bottom">Player Name</a></th>
        <th><a href="../Home/PopularPlayers?sort=Points" style="color: orange" class="border-bottom" >Points</a></th>
        <th><a href="../Home/PopularPlayers?sort=Assists" style="color: orange" class="border-bottom">Assists</a></th>
        <th><a href="../Home/PopularPlayers?sort=Rebounds" style="color: orange" class="border-bottom">Rebounds</a></th>
        <th><a href="../Home/PopularPlayers?sort=Steals" style="color: orange" class="border-bottom">Steals</a></th>
        <th><a href="../Home/PopularPlayers?sort=Blocks" style="color: orange" class="border-bottom">Blocks</a></th>
        <th></th>

    </tr>
    @foreach (PlayerStats p in Model)
    {
        <tr>
            <td>@p.PlayerName </td>
            <td>@p.Points</td>
            <td>@p.Assists</td>
            <td>@p.Rebounds</td>
            <td>@p.Steals</td>
            <td>@p.Blocks</td>

            <td>
                <form action="../Home/AddToToonSquad?id=@p.PlayerId" method="post">
                    <button type="submit" class="block">Add Player To Toon Squad!</button>
                </form>
            </td>

        </tr>
    }
</table>
