@model ViewTeamViewModel


<style>
    body {
        background-image: url('/Images/LooneyCircle.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>


@foreach (ToonSquad team in Model.TeamStats.Keys)
{

    <h5>Team #: @team.Id</h5>
  
    <table class="table table-hover table-dark" style="table-layout:fixed">
        <tr>
            <th><h5>Player</h5></th>
            <th><h5>Points Per Game</h5></th>
            <th><h5>Assists Per Game</h5></th>
            <th><h5>Rebounds Per Game</h5></th>
            <th><h5>Steals Per Game</h5></th>
            <th><h5>Blocks Per Game</h5></th>
        </tr>
        @for (int i = 0; i < Model.TeamStats[team].Count; i++)
        {
            <tr>
                @if (Model.TeamStats[team][i].PlayerId == "0")
                {
                    <td>

                        <form class="search" action="../Home/PlayerList" method="post">
                            <input type="text" placeholder="Search for Players..." name="search" required>
                            <button style="height:47px;" type="submit">Search</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>@Model.TeamStats[team][i].PlayerName</td>
                    <td>@Model.TeamStats[team][i].Points</td>
                    <td>@Model.TeamStats[team][i].Assists</td>
                    <td>@Model.TeamStats[team][i].Rebounds</td>
                    <td>@Model.TeamStats[team][i].Steals</td>
                    <td>@Model.TeamStats[team][i].Blocks</td>

                    if (Model.TeamNumber == team.Id.ToString())
                    {
                        <td>
                            <form action="../Home/RemovePlayer?playerId=@Model.TeamStats[team][i].PlayerId" method="post">
                                <button type="submit" class="block">Remove Player</button>
                            </form>
                        </td>
                    }
                    @*<td><a type="button"class=""role="button"href="../Home/RemovePlayer?playerId=@Model.TeamStats[team][i].PlayerId">Click here to remove this player</a></td>*@
                }
                
            </tr>
        }

    </table>
    <a href="../Home/SetTeamNumber?teamNumber=@team.Id">Select This team to add/remove players</a>
    if (Model.TeamNumber == team.Id.ToString())
    {

        <a href="../Monstar/GenerateMonstars" type="button" class="btn btn-success btn-block">Play Game!</a>

    }
    <a href="../Home/CreateNewTeam">Create New Team</a>



}
