@model ViewTeamViewModel

@foreach (ToonSquad team in Model.TeamStats.Keys)
{

    <h4>Team #: @team.Id</h4>
    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>Player</th>
            <th>Points Per Game</th>
            <th>Assists Per Game</th>
            <th>Rebounds Per Game</th>
            <th>Steals Per Game</th>
            <th>Blocks Per Game</th>
        </tr>
        @for (int i = 0; i < Model.TeamStats[team].Count; i++)
        {
            <tr>
                @if (Model.TeamStats[team][i].PlayerId == "0")
                {
                    <td>

                        <form class="search" action="../Home/PlayerList" method="post">
                            <input type="text" placeholder="Search for Players..." name="search" required>
                            <button style="height:47px;" type="submit">Search</button>
                        </form>
                    </td>
                }
                else
                {
                    var TeamNumber = TempData["TeamNumber"];
                    TempData.Keep();

                    <td>@Model.TeamStats[team][i].PlayerName</td>
                    <td>@Model.TeamStats[team][i].Points</td>
                    <td>@Model.TeamStats[team][i].Assists</td>
                    <td>@Model.TeamStats[team][i].Rebounds</td>
                    <td>@Model.TeamStats[team][i].Steals</td>
                    <td>@Model.TeamStats[team][i].Blocks</td>

                    if (Model.TeamNumber == team.Id.ToString())
                    {
                        <td><a href="../Home/RemovePlayer?playerId=@Model.TeamStats[team][i].PlayerId">Click here to remove this player</a></td>
                    }
                }
            </tr>
        }

    </table>
    <a href="../Home/SetTeamNumber?teamNumber=@team.Id">Select This team to add/remove players</a>
    <a href="../Monstar/GenerateMonstars" class="badge-success">Play Game!</a>
    <a href="../Home/CreateNewTeam">Create New Team</a>



}
